.bg-navy{
    background-color: rgb(9 14 52) !important;
}

.text-color-white{
    color: #ffffff !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-title i {
    margin-right: 10px;
}